<section id="about">
  <div class="bubbleWrap row row1 align-spaced">
    <button data-open="multisig" class="med-large-3 large-2 column">
        multisig
    </button>
    <button data-open="mobile" class="med-large-3 large-2 column secondary">
            mobile apps
          </button>
    <button data-open="reputation" class="med-large-3 large-2 column secondary">
            node reputation system
          </button>
    <button data-open="messaging" class="med-large-3 large-2 column tertiary">
            messaging
          </button>
    <button data-open="tiered" class="med-large-3 large-2 column tertiary">
            2-tiered architecture
          </button>
    <button data-open="harvesting" class="med-large-3 large-2 column">
        harvesting
    </button>
  </div>

  <div class="bubbleWrap row row2 align-justify">
    <button data-open="delegated" class="med-large-3 large-2 column tertiary">
            delegated harvesting
          </button>
    <button data-open="mosaic" class="med-large-3 large-2 column">
            mosaic
          </button>
    <button data-open="video" class="med-large-4 large-4 column video">
            <img src="{{root}}/assets/img/nemVideo.png"/>
          </button>
    <button data-open="ncc" class="med-large-3 large-2 column secondary">
            NCC
          </button>
    <button data-open="nis" class="med-large-3 large-2 column secondary">
            NIS
          </button>
  </div>

  <div class="bubbleWrap row row3 align-spaced">
    <button data-open="conensus" class="med-large-3 large-2 column secondary">
      consensus mechanism
    </button>
    <button data-open="newCode" class="med-large-3 large-2 column tertiary">
      100% new code
    </button>
    <button data-open="blocktimes" class="med-large-3 large-2 column tertiary">
      block times
    </button>
    <button data-open="xem" class="med-large-3 large-2 column">
      xem
    </button>
    <button data-open="namespace" class="med-large-3 large-2 column secondary">
      namespace
    </button>
    <button data-open="spamProtect" class="med-large-3 large-2 column tertiary">
      spam protection
    </button>
  </div>
</section>

<div class="reveal" id="multisig" data-reveal>
  <h1>Multisig</h1>
  <!-- <p class="lead">Your couch. It is mine.</p> -->
  <p>NEM's multisig solution is “on blockchain”. This doesn’t sound like a big deal at first, but if one really takes a closer look at it, the advantages are significant. With other platforms, multisig has always been client or wallet based which means each implementation is not compatible across many different platforms, even if it is of the same crypto currency. This is not the case with NEM.</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
