<section id="buy">
  <div class="row align-stretch">
    <div class="small-12 columns">
      <div id="buyWrap" class="row">
        <div id="buyBox1" class="small-12 med-large-expand columns">
          <div class="row icons align-center">
            <div class="small-4 columns">
              <img src="{{root}}/assets/img/nemx64.png"/>
            </div>
            <div class="small-4 columns arrows">
              <img src="{{root}}/assets/img/arrows.png"/>
            </div>
            <div class="small-4 columns">
              <img src="{{root}}/assets/img/bitcoin.svg"/>
            </div>
          </div>
          <div class="row align-center">
              <div class="medium-8 column">
                Buy XEM at one of these exchanges
              </div>
          </div>
          <div class="row align-center">
              <div class="medium-5 column">
                <li>
                  <a href="#">POLONIEX</a>
                </li>
                <li>
                  <a href="#">BTC38</a>
                </li>
                <li>
                  <a href="#">BITCOIN.co.id</a>
                </li>
              </div>
              <div class="medium-5 column">
                <ul>
                  <li>
                    <a href="#">BITTREX</a>
                  </li>
                  <li>
                    <a href="#">BTER</a>
                  </li>
                  <!-- <li>
                    <a href="#">poloniex</a>
                  </li> -->
                </ul>
              </div>
          </div>
        </div>
          <div id="buyBox2" class="small-12 med-large-expand columns">
            <div class="row icons align-center">
              <div class="small-4 columns">
                <img src="{{root}}/assets/img/nemx64.png"/>
              </div>
              <div class="small-4 columns arrows">
                <img src="{{root}}/assets/img/arrows.png"/>
              </div>
              <div class="small-4 columns">
                <img src="{{root}}/assets/img/shopping109.svg"/>
              </div>
            </div>
            <div class="row align-center">
                <div class="medium-8 column">
                  Spend XEM anywhere that you can spend Bitcoin
                </div>
            </div>
            <div class="row align-center">
                <div class="small-10 column">
                  <span href="#">
                    <button class="btn btn-1e">COMING SOON</button>
                  </span>
                </div>
            </div>
          </div>
        <div id="buyBox3" class="small-12 med-large-expand columns">
          <div class="row icons align-center">
            <div class="small-4 columns">
              <img src="{{root}}/assets/img/nemx64.png"/>
            </div>
            <div class="small-4 columns arrows">
              <img src="{{root}}/assets/img/arrows.png"/>
            </div>
            <div class="small-4 columns">
              <img src="{{root}}/assets/img/money.png"/>
            </div>
          </div>
          <div class="row align-center">
              <div class="medium-8 column">
                Buy XEM directly with cash
              </div>
          </div>
          <div class="row align-center">
              <div class="small-10 column">
                <a href="#">
                  <button class="btn btn-1e">MORE INFO</button>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="buyBar">
    <div class="row align-center">
      <div class="small-4 med-large-expand columns">
        <a href="https://poloniex.com/exchange#btc_xem">
          <img height="16px" src="{{root}}/assets/img/poloniexSat.png"/ alt="Poloniex cryptocurrency exchange">
        </a>
      </div>
      <div class="small-4 med-large-expand columns">
        <a href="https://bittrex.com/Market/Index?MarketName=BTC-XEM">
          <img height="20px" src="{{root}}/assets/img/bittrexSat.png" alt="bittrex cryptocurrency exchange"/>
        </a>
      </div>
      <div class="small-4 med-large-expand columns">
        <a href="http://btc38.com/trade.html?mk_type=btc&btc38_trade_coin_name=xem">
          <img height="16px" src="{{root}}/assets/img/btc38Sat.png" alt="btc38 cryptocurrency exchange"/>
        </a>
      </div>
      <div class="small-4 med-large-expand columns">
        <a href="https://vip.bitcoin.co.id/nembtc">
          <img height="20px" src="{{root}}/assets/img/bitcoincoid.png" alt="bitcoin cryptocurrency exchange"/>
        </a>
      </div>
      <div class="small-4 med-large-expand columns">
        <a href="https://bter.com/trade/XEM_BTC">
          <img src="{{root}}/assets/img/bterSat.png" alt="bter cryptocurrency exchange"/>
        </a>
      </div>
    </div>
  </div>
</section>
