<div class="client">
  <div class="row align-middle">
    <div class="large-5 columns">
      <img src="{{root}}assets/img/laptopNEM.png"/>
    </div>

    <div class="large-6 columns">
      <h3>NEM Community Client</h3>
      <p id="test123" data-i18n="[html]sec"></p>
      <a href="#"><button class="btn btn-1e">install nem community client</button></a>
      <p>Need help with installing the NEM Client? <a href="#">Follow our easy guide</a></p>
    </div>
  </div>
  <div class="row align-middle clientBottom">
    <div class="large-5 med-large-6 small-8 columns" id="support">
      <h3>Streamlined NEM Mobile Client</h3>
      <p>
        Install the NEM Mobile Client, it has all the core NEM features, with ease of use in mind.
      </p>
    </div>
  </div>
</div>
