<div class="divTopper">
  <img src="{{root}}/assets/img/divtopper.png"/>
</div>
<section id="help">
  <div class="helpWrap row align-center align-middle">
    <div class="column small-12 medium-9 med-large-4 large-3">
      Still need Help?
    </div>
    <div class="column small-12 medium-12 med-large-7 large-7">
  <uL class="">
    <li class="align-left">
    <span class="fa-stack fa-2x">
        <i class="fa fa-square fa-stack-2x fa-inverse"></i>
        <i class="fa fa-question-circle fa-stack-1x"></i>
  </span>
  <span class="helpText">
    Read the in-depth FAQ section
  </span>
  </li>
  <li>
    <span class="fa-stack fa-2x align-left">
        <i class="fa fa-square fa-stack-2x fa-inverse"></i>
        <i class="fa fa-keyboard-o fa-stack-1x"></i>
  </span>
  <span class="helpText">
    Learn more about NEM through our community on our Forum
  </span>
  </li>
  <li>
    <span class="fa-stack fa-2x">
        <i class="fa fa-square fa-stack-2x fa-inverse"></i>
        <i class="fa fa-comments fa-stack-1x"></i>
    </span>
    <span class="helpText">
    Check out our list of NEM related tutorials
  </span>
  </li>
  <li>
  <span class="fa-stack fa-2x">
      <i class="fa fa-square fa-stack-2x fa-inverse"></i>
      <i class="fa fa-users fa-stack-1x"></i>
  </span>
  <span class="helpText">
  Join our telegram channels and interact with the developers
  </span>
  </li>
  </ul>
    </div>
  </div>
</section>
