<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="navWrap">
  <nav class="row">
    <div class="12-small columns">
      <div class="top-bar" id="main-menu">

        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><img src="{{root}}/assets/img/nemLogo.svg"/></li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
            <li><a href="#">client</a></li>
            <li><a href="#">buy xem</a></li>
            <li class="has-submenu">
              <a href="#">support</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="#">faq's</a></li>
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">forum</a></li>
              </ul>
            </li>
            <li><a href="#">updates</a></li>
            <li><a href="#">blog</a></li>
            <li class="has-submenu">
              <a href="#">flag</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a id="en" href="?setLng=en"><img src="{{root}}/assets/img/flags/United-States-of-America(USA).png" alt="English"/></a></li>
                <li><a id="es" href="?setLng=es"><img src="{{root}}/assets/img/flags/China.png" alt="Spanish"/></a></li>
                <li><a id="fr" href="?setLng=fr"><img src="{{root}}/assets/img/flags/Finland.png" alt="french"/></a></li>
                <li><a id="ja" href="?setLng=ja"><img src="{{root}}/assets/img/flags/Japan.png" alt="日本語"/></a></li>
             </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
